<div class="container-">
    <div class="row">
        <div class="col-12 boxTable">
            <table class="table ">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Mail</th>
                  <th scope="col">Role</th>
                  <th scope="col">Last Connection</th>
                </tr>
                <tbody>
                <tr>
                  <th scope="row">1 </th>
                  <td>
                    <img [src]="" class="me-2" style="width: 20px">
                    country.name 
                  </td>
                  <td>sdqd</td>
                  <td>sdqd</td>
                </tr>
                <tr>
                    <th scope="row">1 </th>
                    <td>
                      <img [src]="" class="me-2" style="width: 20px">
                      country.name 
                    </td>
                    <td>sdqd</td>
                    <td>sdqd</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>