<table class="table ">
  <thead>
  <tr>

    <th scope="col">Contact</th>
    <th scope="col">Mail</th>
    <th scope="col">Date</th>
  </tr>
  <tbody *ngIf="mails.length>0">
       <tr *ngFor="let mail of mails; let i = index">
    <td>
      <button  (click)="updateEtatSend(mail.idMail)">
        {{mail.adrMail}}
      </button>
    </td>
    <td>
      <span class="object">{{mail.objectMail}} </span>
      <span class="text" *ngIf="mail.textMail.length>45 ">{{mail.textMail.substr(0,45) }} ...</span>
      <span class="text" *ngIf="mail.textMail.length<45 ">{{mail.textMail }}</span>
  </td>
  <td>
    <span>{{ mail.dateMail | date }}</span>
    <span class="iList">
        
      <button (click)="removeMail(mail.idMail)"><i class="bi bi-trash-fill"></i></button>
      <button 
          (click)="EditImportantMail(mail)"  (mouseover)="changeStarStyleType=true" 
         (mouseout)="changeStarStyleType=false">
         <i *ngIf="!changeStarStyleType && mail.typeMail=='simpleMail'" class="bi bi-star"></i>
         <i *ngIf="changeStarStyleType || mail.typeMail=='important'" class="bi bi-star-fill"></i>
      </button>
      </span>
    </td>
    
       </tr>
      
  </tbody>
  <div class="col-12" *ngIf="mails.length==0" style="width: 100%;display:flex;flex-direction: column;align-items: center;">
          
          <img style="width: 80%;" src="../../../../assets/image/frontOffice/Mail sent-rafiki.svg">
          <h6>You Don't Have Any New E-mail</h6>

  </div>
</table>