<div class="col-11 box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Read Mail :{{sendDetailMails}}:</h3>

      
    </div>
    <div class="box-body no-padding">
      <div class="mailbox-read-info">
        <h3>Message Subject Is Placed Here</h3>
        <h5>From: help@example.com
          <span class="mailbox-read-time pull-right">15 Feb. 2016 11:03 PM</span></h5>
      </div>
      <div class="mailbox-read-message">
    
        <p>Keffiyeh blog actually fashion axe vegan, irony biodiesel. Cold-pressed hoodie chillwave put a bird
          on it aesthetic, bitters brunch meggings vegan iPhone. Dreamcatcher vegan scenester mlkshk. Ethical
          master cleanse Bushwick, occupy Thundercats banjo cliche ennui farm-to-table mlkshk fanny pack
          gluten-free. Marfa butcher vegan quinoa, bicycle rights disrupt tofu scenester chillwave 3 wolf moon
          asymmetrical taxidermy pour-over. Quinoa tote bag fashion axe, Godard disrupt migas church-key tofu
          blog locavore. Thundercats cronut polaroid Neutra tousled, meh food truck selfies narwhal American
          Apparel.</p>

        

        

        

        
      </div>
      
      <div class="mailbox-btn">
        <a href="" class="btn btn-primary"><i class="bi bi-trash"></i> Delete</a>
        <a href="" class="btn btn-primary"><i class="bi bi-send"></i> Replay</a>
      </div>
      
    </div>
    
    
    
  </div>