app-navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}

main{
    background-color: #EDF1F7;
    height: 100%;
    position: absolute;
    width: 100%;
    top:3.5rem;
    z-index: 1;
    app-sidebar{
        position: fixed;
        left: 0rem;
        width: 250px;
        height: calc(100vh - 3.5rem);
        box-shadow: rgba(0 , 0 ,0 ,0.5);
        background-color: white;
    }
    .display-area{
        position: relative;
        left:250px;
        width: calc(100% - 250px);
        padding:20px 0px 0px 0px ;
    }
}
app-roles{
    padding: 20px;
}