
<div class="container-fluid g-0">
    <app-navbar></app-navbar>
    <main>
        <app-sidebar></app-sidebar>
        <div class="display-area" style="padding: 35px;">
            <button class="btn btn-alert" (click)="updateEtatinbox()">inbox</button>

            <div class="col-12 mailBox">
                <div class="col-12 col-md-3">
                    <div class="col-12">
                    <button class="btn btn-primary col-12"  (click)="updateEtat()">Compose</button>
                    </div>
                    <div class="col-12 folderDiv ">
                         <app-folder-mail (testBtnChild)="testBtn=$event"></app-folder-mail>
                     </div>
                </div>
                <div class="col-12 col-md-9 inbox">
                     <app-inbox (DetailMailId)="idMailDetailMail=$event" (DetailMail)="testBtn=$event"  *ngIf="testBtn=='inbox'"></app-inbox>
                     <app-sent *ngIf="testBtn =='sent'"></app-sent>
                     {{idMailDetailMail}}
                     <app-details-mail  *ngIf="testBtn =='detailsMail'"  (sendDetailMails)="idMailDetailMail">
                    </app-details-mail>                    
                     <app-send-mail  *ngIf="testBtn=='sendMail'"></app-send-mail>
                     

                </div>

            </div>
        </div>
    </main>

</div>